<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <commands>
            <command name="dataExchange:enableItem" type="Sitecore.DataExchange.Gutters.Commands.EnableItemCommand, Sitecore.DataExchange.Gutters" />
            <command name="dataExchange:showEnable" type="Sitecore.DataExchange.Gutters.Commands.ShowEnableCommand, Sitecore.DataExchange.Gutters" />
            <command name="dataExchange:showPipelineBatch" type="Sitecore.DataExchange.Gutters.Commands.ShowPipelineBatchCommand, Sitecore.DataExchange.Gutters" />
            <command name="dataExchange:cleanPipelineBatchSummary" type="Sitecore.DataExchange.Gutters.Commands.CleanPipelineBatchSummaryCommand, Sitecore.DataExchange.Gutters" />
            <command name="dataExchange:displayPipelineSteps" type="Sitecore.DataExchange.Gutters.Commands.DisplayPipelineStepsCommand, Sitecore.DataExchange.Gutters" />

            <command name="dataExchange:pipelineStepContextMenu" type="Sitecore.DataExchange.Gutters.Commands.PipelineStepContextMenuCommand, Sitecore.DataExchange.Gutters" />
            <command name="dataExchange:displayRequired" type="Sitecore.DataExchange.Gutters.Commands.DisplayRequiredCommand, Sitecore.DataExchange.Gutters" />
        </commands>
    </sitecore>
</configuration>